<div class="card card-outline-primary m-1 p-1 well" *ngFor="let blog of this.blogList">
    <div class="bg-faded p-1">
        <h3>
            {{blog.title}}
        </h3>
        <h6>by <a href="javascript:;">{{blog.userName}}</a></h6>
    </div>
    <div class="card-text p-1">{{blog.description}}</div>
</div>


<!--<div class="container m-t-1">
    <div class="card card-block" *ngFor="let blog of this.blogList">
        <h4 class="card-title">{{blog.title}}</h4>
        <p class="card-text">{{blog.description}}</p>
    </div>
</div>-->
<!--<div class="container" *ngFor="let blog of this.blogList">
    <div class="row">
        <div class="col-md-12">
            <h4 class="margin-top-0">{{blog.title}}</h4>
        </div>
        <div class="col-md-8">
            <p>{{blog.description}}</p>
        </div>
        <p></p>
    </div>
</div>-->
<app-pagination [offset]="offset" [limit]="limit" [size]="size" (pageChange)="onPageChange($event)"></app-pagination>
