<div class="container">
    <header class="pageHeader">
        <h3><i aria-hidden="true"></i> {{'Problems' | translate}}</h3>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="input-group">
                    <input type="text" [(ngModel)]="filter.pattern" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" (click)="onSearchChanged()">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
        <p>
            <a [routerLink]="['/insert-problem']">Create new <i class="fa fa-plus-circle"></i></a>
        </p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Tag</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let problem of problemList">
                    <!--<th scope="row">1</th>-->
                    <td>
                        <a [routerLink]="['/problems/', problem.id]">{{problem.id}}</a>
                    </td>
                    <td>{{problem.title}}</td>
                    <td class="badge">{{problem.tag}}</td>
                    <td>
                        <a [routerLink]="['/problem/edit/', problem.id]"><i class="fa fa-pencil-square-o"></i> Edit </a> |
                        <a [routerLink]="" (click)="delete(problem.id)"><i class="fa fa-trash-o"></i> Delete </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <app-pagination [offset]="offset" [limit]="limit" [size]="size" (pageChange)="onPageChange($event)"></app-pagination>
</div>