<div class="tab-content" *ngIf="problem">
    <div role="tabpanel" class="tab-pane active" id="restiction">
        <h3>Restrictions</h3>
        <ul>
            <li>TimeLimit: {{problem.timeLimit}}</li>
            <li>MemoryLimit: {{problem.memoryLimit}}</li>
            <li>MaximumMessages: {{problem.maximumMessages}}</li>
            <li>NumberOfNodes: {{problem.numberOfNodes}}</li>
            <li>SizeOfMessages: {{problem.sizeOfMessages}}</li>
        </ul>
        <h3>{{problem.title}}</h3>
        <p>{{problem.description}}</p>
    </div>
    <input type="file" (change)="uploadCode()" #fileInput />
</div>
