@{
    ViewData["Title"] = "Home";
}
<quick-app>
    <div id="pre-bootstrap">
        <div class="messaging">
            <h1>
               Loading...
            </h1>
            <div class="cs-loader">
                <div class="cs-loader-inner">
                    <label>&#9679</label>
                    <label>&#9679</label>
                    <label>&#9679</label>
                    <label>&#9679</label>
                    <label>&#9679</label>
                    <label>&#9679</label>
                </div>
            </div>
            <p>
                APPLICATION SYSTEM - <span class="appName" style="font-style:italic">matcomJam</span> &copy; <a href="https://matcomjam.matcom.uh.cu">matcomjam.matcom.uh.cu</a>
            </p>
        </div>
    </div>
</quick-app>
<script src="~/dist/vendor.js" asp-append-version="true"></script>
@section scripts {
    <script src="~/dist/main-client.js" asp-append-version="true"></script>
}
