<div class="container">
    <header class="pageHeader">
        <h3><i class="fa fa-info-circle fa-lg page-caption" aria-hidden="true"></i> {{'pageHeader.About' | translate}}</h3>
    </header>

    <div [@fadeInOut]>
        <div class="row">
            <div class="col-sm-6">
                <h2>MatcomJam<sup>&reg;</sup></h2>
                <br />
            </div>
            <div class="col-sm-6">
            </div>
        </div>
        <div class="row bg-grey">
            <div class="col-sm-4">
                <span class="fa fa-globe logo"></span>
            </div>
            <div class="col-sm-8">
                <h4><strong>MISSION:</strong>  Easy-to-use service software for all</h4>
                <p>
                    TODO Write here !!!
                </p>
            </div>
        </div>
    </div>
</div>
